<main class="login-container">
  <div class="message">
    {{#if message}}
      <p class="heading">{{message}}</p>
    {{/if}}
  </div>
  <h1 class="heading">Esqueceu sua senha?</h1>
  <div class="login-form">
    <form action="/forgot-password" method="POST">
      <div class="input-group">
        <label for="email">Seu E-mail:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <button type="submit">Redefinir senha</button>
    </form>
  </div>
</main>
