<main class="login-container">
  <h1 class="heading">Entre em sua Conta</h1>
  <div class="login-form">
    <form action="/login" method="POST">
      <div class="input-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Entrar</button>
      <button><a href="/github">Entrar com Github</a></button>
    </form>
  </div>
</main>
