<main class="login-container">
  <div class="message">
    {{#if message}}
      <p class="heading">{{message}}</p>
    {{/if}}
  </div>
  <h1 class="heading">Digite a sua nova senha</h1>
  <div class="login-form">
    <form action="/reset-password" method="POST">
      <input type="hidden" name="token" value="{{ token }}">
      <input type="hidden" name="id" value="{{ id }}">
      <div class="input-group">
        <label for="password">Nova senha</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Confirmar senha</button>
    </form>
  </div>
</main>
